<div class="page-header">
    <h1>YouTube Search <small>A better search is all</small></h1>
</div>

<div id="input-container" class="row">

    <div id="textbox-container" class="form-group col-md-4">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="searchParam" placeholder="search term here..." />
            <div id="searchButton" ng-if="!fetching" class="notta-button input-group-addon" ng-click="doSearch()"><span class="glyphicon glyphicon-search"></span>Search</div>
            <div id="stopButton" ng-if="fetching" class="notta-button input-group-addon" ng-click="interrupt()"><span class="glyphicon glyphicon-stop"></span></div>
        </div>
    </div>
    <div id="search-results-label-container" ng-if="searchResults.length > 0" class="form-group col-md-3">
        <div id="search-results-header">Search results: <span id="totalResults">{{filteredResults.length}}</span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 well well-md">
        <div id="sort-options-container">
            <span class="glyphicon glyphicon-sort"></span>
            <label ng-repeat="option in sortOptions" ng-click="sortOptionChanged(option)">
                <input type="radio" ng-checked="option.value === sortField" value="{{option.value}}" ng-model="sortField" name="options" > {{option.displayName}}
            </label>
        </div>

        <div id="minDislikesContainer">
            <span class="glyphicon glyphicon-filter"></span>
            <input ng-model="minDislikes" type="text" ng-keyup="filter()" placeholder="Maximum dislikes" />
            <input type="date" ng-model="minDate" placeholder="Select earliest date" />
        </div>

    </div>
</div>

<!--ng-if="fetching"-->

<div id="results" class="row" ng-if="searchResults.length > 0">
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr ng-repeat="video in filteredResults">
                <td>
                    <div class="video-image-container">
                        <a ng-href="{{'https://www.youtube.com/watch?v=' + video.videoId}}" target="_blank">
                            <img src="{{video.thumbnail.url}}" width="250px" class="thumbnail" />
                        </a>
                    </div>
                </td>
                <td>
                    <div class="video-details-container">
                        <div class="videoTitle">{{video.title}}</div>
                        <div class="duration">{{video.duration ? video.duration + " (~" + video.durationMinutes + " minutes)" : ""}}</div>
                        <div class="created">{{video.created | date:'MM-dd-yyyy'}}</div>
                        <div class="rating"><small>Rating</small> {{video.pctLikes}}</div>
                        <div class="view-count"><small>Views</small> {{video.viewCount}}</div>
                        <div class="likes"><small>Likes</small> {{video.likes}}</div>
                        <div class="dislikes"><small>Dislikes</small> {{video.dislikes}}</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>