extends layout

block body
    div(ng-view)

    script(src='bower/angular/angular.js')
    script(src='bower/angular-route/angular-route.js')
    script(src='static/app/nodeAngularDemoApp.js')
    script(src='static/app/controllers/homeController.js')
    script(src='static/app/controllers/usersController.js')