<!DOCTYPE html>
<html lang="en" ng-app="youtubeSearchApp">
<head>
    <meta charset="UTF-8">
    <title>Youtube Sorting and Filtering - Search Optimization Made Easy</title>

    <link rel='shortcut icon' type='image/x-icon' href='static/favicon.ico' />

    <meta name="author" content="Lance Fallon">
    <meta name="keywords" content="Youtube Sorting And Filtering - Search Optimization Made Easy Youtube Advanced Search Engine" />
    <meta name="description" content="Sort, Filter, and Optimize your youtube searches to return only the best results." />

    <!-- bower -->
    <script type="text/javascript" src='bower/jquery/dist/jquery.js'></script>
    <script type="text/javascript" src='bower/bootstrap/dist/js/bootstrap.js'></script>
    <script type="text/javascript" src='bower/angular/angular.js'></script>
    <script type="text/javascript" src='bower/angular-ui-router/release/angular-ui-router.js'></script>
    <script type="text/javascript" src='bower/angular-route/angular-route.js'></script>
    <script type="text/javascript" src='bower/angular-resource/angular-resource.js'></script>
    <script type="text/javascript" src='bower/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='bower/AngularJS-Toaster/toaster.js'></script>
    <link href="bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower/AngularJS-Toaster/toaster.css" rel="stylesheet" />

    <!--app -->
    <script type="text/javascript" src='static/app/app.js'></script>

    <!-- controllers -->
    <script type="text/javascript" src='static/app/controllers/homeController.js'></script>
    <script type="text/javascript" src='static/app/controllers/authController.js'></script>

    <!-- services -->
    <script type="text/javascript" src='static/app/services/timeService.js'></script>
    <script type="text/javascript" src='static/app/services/authService.js'></script>

    <!-- css -->
    <link href="css/style.css" rel="stylesheet" />


    <base href="/" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78863725-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
<div id="page-header" class="row text-center">
    <div id="title-text"><span id="you">You</span><span id="tube">Tube</span><span id="search"> Agent</span></div>
    <div class="text-center"><small>YouTube Sorting and Filtering - Easy to Use and Advanced Search Engine to Optimize YouTube Results</small></div>
    <br />
    <a href="https://accounts.google.com/o/oauth2/auth?client_id=613015363976-0aodg2ib3dmv8m2g7gmknnglg29cmir9.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauthcallback&scope=https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtubepartner&response_type=token" ng-if="!AuthService.isLoggedIn()" class="text-primary"><span class="glyphicon glyphicon-user"></span> Login with YouTube account</a>
    <div ng-if="AuthService.isLoggedIn()">
        <span class="glyphicon glyphicon-user"></span> Using webapp as {{AuthService.getAuth().user.name}}<br />
        <a href="" ng-click="AuthService.logout()">Logout</a>
    </div>
</div>
<div ng-view></div>
    <toaster-container></toaster-container>
    <hr />
    <div class="text-right col-md-12"><a href="mailto:fallon.lance@gmail.com">Lance Fallon <span class="glyphicon glyphicon-envelope"></span></a></div>
</body>
</html>


