<!DOCTYPE html>
<html lang="en" ng-app="youtubeSearchApp">
<head>
    <meta charset="UTF-8">
    <title>Youtube Search Tool</title>

    <link rel='shortcut icon' type='image/x-icon' href='static/favicon.ico' />

    <meta name="google-site-verification" content="eo2O42c3mSdHPubU_RwH4HpiOvvvByOpdmNWy9NssJQ" />
    <meta name="author" content="Lance Fallon">
    <meta name="keywords" content="Youtube search tool videos filtering searching filter search api" />
    <meta name="description" content="Youtube search utility implementing YouTube API. Allows for precise filtering and sorting options that are not available through the native YouTube interface / website" />

    <!-- bower -->
    <script type="text/javascript" src='bower/jquery/dist/jquery.js'></script>
    <script type="text/javascript" src='bower/bootstrap/dist/js/bootstrap.js'></script>
    <script type="text/javascript" src='bower/angular/angular.js'></script>
    <script type="text/javascript" src='bower/angular-ui-router/release/angular-ui-router.js'></script>
    <script type="text/javascript" src='bower/angular-route/angular-route.js'></script>
    <script type="text/javascript" src='bower/angular-resource/angular-resource.js'></script>
    <script type="text/javascript" src='bower/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='bower/AngularJS-Toaster/toaster.js'></script>
    <link href="bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower/AngularJS-Toaster/toaster.css" rel="stylesheet" />

    <!--app -->
    <script type="text/javascript" src='static/app/app.js'></script>

    <!-- controllers -->
    <script type="text/javascript" src='static/app/controllers/homeController.js'></script>

    <!-- webservices -->
    <script type="text/javascript" src='static/app/services/timeService.js'></script>

    <!-- css -->
    <link href="css/style.css" rel="stylesheet" />


    <base href="/" />

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78863725-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <div ng-view></div>
    <toaster-container></toaster-container>
    <hr />
    <div class="text-right col-md-12"><a href="mailto:fallon.lance@gmail.com">Lance Fallon <span class="glyphicon glyphicon-envelope"></span></a></div>
</body>
</html>


